<html>
<title>Tran's book</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Tahoma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">TIỆM SÁCH CỦA BẢO TRÂN</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#" class="w3-bar-item w3-button">Trang chủ</a>
      <a href="{% url 'Book:register' %}" class="w3-bar-item w3-button">Đăng ký</a>
      <a href="#contact" class="w3-bar-item w3-button">Thêm sách</a>
    </div>
    <form class="navbar-form navbar-left" role="search" method="get" action="">
                    <div class="form-group">
                        <input type="text" class="form-control" name="" value="">
                        <button type="submit" class="btn btn-default"> Tìm kiếm </button>
                    </div>
                    
    </form>
  </div>
    
</div>
 
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="/w3images/sandwich.jpg" alt="Sandwich" style="width:100%">
      <h3>The Perfect Sandwich, A Real NYC Classic</h3>
      <p>Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum.</p>
    </div>
    
  </div>
  
  <!-- Second Photo Grid-->
    <div class="w3-row-padding w3-padding-16 w3-center">
        <div class="w3-quarter">
          <img src="/w3images/popsicle.jpg" alt="Popsicle" style="width:100%">
          <h3>All I Need Is a Popsicle</h3>
          <p>Lorem ipsum text praesent tincidunt ipsum lipsum.</p>
        </div>
    </div>
  </div>
</html>  
  